.backgroundImage {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    
}

.nameText {
    color: white;
    text-align: center;
    font-size: 15vw;
    font-weight: normal;
    width: 100%;
    position: absolute;
    bottom: 140px;
    margin: 0;
}

.flipButton {
    background-color: white;
    color: black;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 70px;
	border: none;
	padding: 10px;
	font: inherit;
	cursor: pointer;
    font-weight: bold;
    margin-left: auto; 
    margin-right: auto;
}

.saturate {
    -webkit-animation: saturate 4s infinite;
}
  
@-webkit-keyframes saturate {
    0%, 100%  { -webkit-filter: saturate(none); }
    50% { -webkit-filter: saturate(4); }
}
  
#lightcover, #darkcover {
    display: flex;
}
