body {
    background-color: #fafafa;
    margin: 0;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: initial;
}

button {
    display: inline-block
}

.App {
    
}

.divider {
    height: 60px;
    line-height: 55px;
    font-size: 45px;
    text-align: center;
    font-weight: normal;
    color: black;
    /* background-color: #1e2224; */
    background-color: white;
    /* margin-top: 3px; */
    /* margin-bottom: 3px; */
    /* #357370 */
    border-bottom: 1px solid rgb(219,219,219);
    border-top: 1px solid rgb(219,219,219);
}

h4 {
    margin: 0;;
}

p {
    margin-bottom: 15px;
    margin-top: 0;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}
