body {
    --background-color: #fafafa;
    --divider-background: white;
    --divider-text: black;
    --color: black;
    --divider-border: rgb(219,219,219);
    --democrifyImage: '';
    color: var(--color);
    background-color: var(--background-color);
    margin: 0;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: initial;
}

button {
    display: inline-block
}

.divider {
  
    height: 60px;
    line-height: 55px;
    font-size: 45px;
    text-align: center;
    font-weight: normal;
    color: var(--divider-text);
    background-color: var(--divider-background);
    border-bottom: 1px solid var(--divider-border);
    border-top: 1px solid var(--divider-border);
}

h4 {
    margin: 0;;
}

p {
    margin-bottom: 15px;
    margin-top: 0;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}